*{
    font-family: 'Segoe UI', sans-serif;
}

nav {
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
}

.hero-section {
  background: url("../img//bg.png") center center;
  height: 100vh;
  object-fit: contain;
  display: flex;
  align-items: center;
  background-size: contain;
}

.hero-section h1 {
  color: #363636;
  font-size: 3rem;
}

.hero-section p {
  color: rgba(138, 138, 138, 1);
  font-size: 1.4rem;
}

.btn-barq-primary {
  background-color: #f9b570;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 50px;
  color: white;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.btn-barq-primary:hover {
  background-color: #ffcc99;
}

.section-repas {
  padding-top: 150px;
  padding-bottom: 150px;
}

.divider {
  height: 2px;
  background-color: #f9b570;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.barq-card {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(199, 199, 199, 1);
  box-shadow: 0px 0px 5px 0px rgba(199, 199, 199, 1);
  border-radius: 16px;
}

.barq-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.barq-card-body{
    padding:15px;
}

.barq-card-body h4{
    font-size: 1.15rem;
    font-weight: bold;
    text-align: center;
}

.barq-card-body .price{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color :#f9b570;
}

.navbar-nav .nav-link{
    color: #363636;
    
}

.navbar-nav .nav-link:hover{
    color: #8b8b8b;

}

.bg-white{
  background-color: white;
}

.barq-link{
  color:#363636;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
  text-decoration: none;
}

.barq-link:hover{
  color:#777777;
  text-decoration: none;
}

.details-section{
  margin-top: 250px;
}

.product-content h1{
  color: #f9b570;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.product-content .description{
  color: #B2B2B2;
  font-weight: 300;
  text-align: justify;
}

.product-content .price{
  color: #f9b570;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.image-repas{
  border-radius: 50%;
  overflow: hidden;
  max-width: 500px;
  max-height: 500px;

}


#navbar-logo {
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}